.article-social
    a(href="#").article-social__link
        +icon('facebook', 'article-social__icon')
    a(href="#").article-social__link
        +icon('twitter', 'article-social__icon')
    a(href="#").article-social__link
        +icon('vk', 'article-social__icon article-social__icon_vk')
    a(href="#").article-social__link
        +icon('linkedin', 'article-social__icon')