.article-tag {
  text-transform: uppercase;
  color: $main-brown;
  font-size: 12px;
  border-bottom: 1px solid $main-brown;
  border-top: 1px solid $main-brown;
  padding: 3px 0;
  letter-spacing: 1px;
}