.main-nav {
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: $main-dark;
    font-weight: 500;
    overflow: hidden;
    padding: 2px 0;
    transition: .3s;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      height: 1px;
      background: $main-dark;
      transition-duration: .3s;
    }
    &:before {
      bottom: 0;
      transform:  translateX(-100%);
    }
    &:hover {
      &:before {
        transform:  translateX(0);
      }
    }
  }
}