extends layouts/default

block variables
	- const title = "Главная страница"

block content
	include ../blocks/modules/header/header
	include ../blocks/modules/banners/main-banner/main-banner
	include ../blocks/modules/categories/main-categories/main-categories
	include ../blocks/modules/main/main-content/main-content
block scripts
	script(src="js/main.min.js")
	script(src="js/vendor/libs.min.js")