.main-banner
    .container
        a(href="#" style="background-image: url('images/content/main2.jpg');").main-banner__item
            .main-banner__content
                .main-banner__info
                    h1.main-title.main-banner__title Тестовая запись с каким-то важным заголовком